//COLORS
$accent-color: #e63946;
$bg-color: #F1FAEE;
$light-color: #A8DADC;
$medium-color: #457B9D;
$dark-color: #1D3557;
//NAVBAR
$navbar-height: 40px;
$navbar-item-border-width: 2px;
//BREAKPOINTS
$navbar-collapse-breakpoint: 700px;
$title-collapse-breakpoint: 350px;
//TABLE
$table-max-width: 100%;
$table-row-height: 20px;