*,*:before,*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a:active,
a:hover,
a {
  color: $dark-color;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}



