.tableContainer {
  padding: 0 5px;
  margin-bottom: .7rem;
}


.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $light-color;

  &__head {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__body {
    display:block;
    width: 100%;
    overflow: hidden;
    height: 75vh;

    &:hover {
      overflow: scroll;
    }
  }

  &__caption {
    background-color: $light-color;
    padding: 10px;
    font-weight: bolder;
  }

  &__row > th, td {
    border: 1px solid $light-color;
    padding: 5px;
    width: 100%;

    @media (max-device-width: $navbar-collapse-breakpoint) {
      font-size: .7rem;
    }
  }

  &__row {
    display: table;
    width: 100%;
    table-layout: fixed;

    @media (max-device-width: $navbar-collapse-breakpoint) {
      &--hidden {
        display: none;
      }
    }
  }
}
